.App-header {
  background-color: white;
  height: 100px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 20px;
  font-weight: 300;
}

.App-subtitle {
  font-size: 16px;
  font-weight: 300;
}

.App-username {
  font-weight: 600;
}
