.Header {
  background-color: white;
  height: 100px;
  padding: 20px;
  color: black;
}

.HeaderTitle {
  font-size: 20px;
  font-weight: 300;
}

.HeaderSubtitle {
  font-size: 16px;
  font-weight: 300;
}

.HeaderUsername {
  font-weight: 600;
}
